*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.top-header{
    background-color: #121212;
    color: #fff;
}
.img_user{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #4caf50;
}
.item-link-header-top a{
    font-weight: 500;
    color: #4caf50;
    text-decoration: none;
}
.item-link-header-top a:hover{
    color: #6fee74;
}
.bottom-header{
    background-color: #4caf50;
}
.item-link-header-bottom, .item-link-header-bottom a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.item-link-header-bottom:hover{
    opacity: .7;
    cursor: pointer;
}
main{
    margin-top: 7rem;
}
.contenedor-nav-lateral{
    background-color: #262626;
    color: #fff;
    height: 100vh;
    width: 25%;
}
.item-nav-lateral:hover{
    background-color: #6fee74;
    cursor: pointer;
    color: #121212;
}
.contenedor-principal{
    background-color: #121212;
    color: #fff;
}
.item-materias{
    background-color: #262626;
    border-radius: 5px;
}
.item-materias i{
    font-size: 1.3rem;
}
.item-link-materia {
    margin: 0 1rem;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: relative;
}
.item-link-materia:hover{
    background-color: #4caf50;
    cursor: pointer;
}
.item-dots:hover{
    cursor: pointer;
    opacity: .8;
}
.notification{
    position: absolute;
    top: -.5rem;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: rgb(134, 10, 10);
    color: #fff;
    border-radius: 50%;
}
h3{
    font-size: 1.2rem;
}